Payment Receipt - ADMIN RECEIPT

Kharle Jane Pets & Products || ADMIN
-----------------------------

Thank you for shopping with us!

Dear Admin,

We have received a payment. Below are the details of the transaction:

Payment Amount: PHP {{ payment_amount }}
Customer Email: {{ email }}
Reference Number: {{ reference_number }}
Mobilenumber: {{ mobile_number }}

Payment Screenshot following:


Pet Store, Badelles St, Poblacion Iligan City, Philippines
Visit our website: https://www.KharleJanePetandProducts.com
